## Determine initial skin theme CSS class from config
## Auto theme setting determines which CSS class to use based on the hour
#set $bodyTheme = ""
#set $themeSwitchChecked = ""
#if $Extras.pi_theme == "dark"
    #set $bodyTheme = "dark"
    #set $themeSwitchChecked = "checked"
#elif $Extras.pi_theme == "light"
    #set $bodyTheme = "light"
    #set $themeSwitchChecked = ""
#elif $Extras.pi_theme == "auto"
    #import datetime
    #set $now = datetime.datetime.now()
    #set $nowHour = $now.hour
    #set $sunrise_hour = datetime.datetime.fromtimestamp($almanac.sunrise.raw).strftime('%H')
    #set $sunset_hour = datetime.datetime.fromtimestamp($almanac.sunset.raw).strftime('%H')
        ##if $sunrise_hour <= $nowHour < $sunset_hour ## This works but to keep it inline with JavaScript the below works too
        #if int($sunrise_hour) <= int($nowHour) and int($nowHour) < int($sunset_hour)
            #set $bodyTheme = "light"
            #set $themeSwitchChecked = ""
        #else
            ## Night time, use dark mode
            #set $bodyTheme = "dark"
            #set $themeSwitchChecked = "checked"
        #end if
#end if

<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
    <head >
        <meta charset="UTF-8" />
        <title>$station.location Weather Conditions</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <meta name="description" content="Weather conditions for $station.location as observed by a personal weather station and the weewx weather software"/>
        <meta name="robots" content="noodp"/>
        <meta property="og:locale" content="en_US" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="$station.location Weather Conditions" />
        <meta property="og:description" content="Weather conditions for $station.location as observed by a personal weather station and the weewx weather software" />
        <meta property="og:site_name" content="$station.location Weather Conditions" />

        <link rel='dns-prefetch' href='//code.highcharts.com' />

        <link rel='stylesheet' href='../css/latostyle.css' type='text/css' media='all' />
        <link rel='stylesheet' href='../css/bootstrap.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='../css/fontawesome-all.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='../css/weather-icons.min.css' type='text/css' media='all' />
        <link rel='stylesheet' href='../style.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownStyle" />
        <link rel='stylesheet' href='../belchertown-dark.min.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownStyle" />
        <link rel='stylesheet' href='../custom.css?ver=#echo int( time.time() ) #' type='text/css' media='all' id="belchertownCustomStyle" />
        
        <!--[if lt IE 9]>
        <script type='text/javascript' src='../js/html5shiv.min.js'></script>
        <![endif]-->
        <script type='text/javascript' src='../js/jquery.min.js'></script>
        <script type='text/javascript' src="../js/moment.min.js"></script>
        <script type='text/javascript' src="../js/paho-mqtt.min.js"></script>
        <script>
            // Set the session variables for the theme
            if ( sessionStorage.getItem('pi_theme') === null ) {
                sessionStorage.setItem('pi_theme', '$Extras.theme');
            }
            if ( sessionStorage.getItem('pi_currentTheme') === null ) {
                sessionStorage.setItem('pi_currentTheme', '$bodyTheme');
            }
        </script>

        <link rel="icon" href="../favicon.ico" />

    </head>
    
    <body class="pi page full-width-content $bodyTheme" itemscope itemtype="https://schema.org/WebPage">

        <div class="site-container">

